a:visited {
    color: black;
}
a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: black;
}
* {
    margin: 5px;
}
.fa-solid {
    color: #0065FC;
}
.fa-info {
    font-size: 10px;
}
.fa-location-dot {
    padding: 12px;
    margin: 0;
    color: black;
    background-color: #F0F2F6;
}
.fa-chart-line {
    padding-right: 20px;
}
header{
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
}
.logo {
    width: 61px;
    height: 29px;
}
.menu_entete {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;  
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: bold;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
h3 {
    font-size: 12px;
}
h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.afficher-plus{
    width: 100%;
}
p{
    font-size: 16px;    
}
nav a {
    margin-left: 30px;
}
.bouton_rechercher { 
    background-color: #0065FC;
    border-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: white;
}
.header-menu-link:hover {
    padding-top: 30px;
    border-top: 2px solid #0065FC;
}
.filtres {
    font-weight: bold;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.filtre-liste {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.economique, .familial, .romantique, .animaux {
    border: 1px black solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.petite-ecriture {
    font-size: 10px;
}
.info {
    display: grid;
    grid-template-columns: 10px 300px;
}
.section-hebergement {
    margin: 0;
    padding: 0 20px 0 20px;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(224, 223, 223);
    border-radius: 10px;
}
.populaire {
    margin: 0;
    padding: 0;
    width: 28%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(224, 223, 223);
    border-radius: 10px;
}
.photo {
    display: block;
    float: left;
    width: 95%;
    height: 90px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    
}
.photo2 {
    display: block;
    float: left;
    width: 30%;
    height: 100px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    
}
.section1 {
    width: 30%;
    background-color: white;
    border-radius: 20px;
    padding: 0;
    border: 1px solid rgb(224, 223, 223);
    box-shadow: 2px 2px 2px 2px rgb(199, 199, 199);
}
.section2 {
    background-color: white;
    border-radius: 20px;
    margin-left: 15px;
    width: 90%;
    padding: 0;
    border: 1px solid rgb(224, 223, 223);
    box-shadow: 2px 2px 2px 2px rgb(199, 199, 199);
}
.section-hebergement-populaire {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.fa-star {
    margin: 0;
    padding: 0;
    color: #0065FC;
    font-size: 10px;
}
.filtre-item {
    margin-right: 15px;
    border: 1px black solid;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 40px;
}
.filtre-item:hover {
    background-color: #DEEBFF;
}
.filtre-title {
    margin-right: 20px;
    padding: 5px;
}
.form-container {
    height: 40px;
    
}
input {
    margin: 0;
    height: 40px;
    
}
.bouton_rechercher2 {
    visibility: hidden;
}
.alignement {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.font-plus-populaire{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
.section-activites {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.photo3 {
    width: 100%;
    height: 250px;
    border-radius: 20px 20px 20px 20px;
    margin: 0;
    object-fit: cover;
}
footer {
    background-color: rgb(224, 223, 223);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}
.a-propos,.nos-hergements,.assistance {
    margin-right: 150px;
}
.a-propos {
    margin-left: 50px;
}
.section3 {
    width: 20%;
    padding: 0;
    border: 1px solid rgb(224, 223, 223);
    box-shadow: 2px 2px 2px 2px rgb(224, 223, 223);
    border-radius: 20px;

}