* {
    margin: 0;
}
header{
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
}
.logo {
    width: 61px;
    height: 29px;
}
.menu_entete {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;  
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: bold;
}
p{
    font-size: 16px;    
}
nav a {
    margin-left: 30px;
}
.bouton_rechercher { 
    background-color: #0065FC;
    border-color: #0065FC;
    border-radius: 0px 5px 5px 0px;
    color: white;
}
a[href="#hebergements"]:hover {
    text-decoration: solid underline 6px;
}
a[href="#activites"]:hover {
    text-decoration: solid underline 6px;
}
.filtres {
    font-weight: bold;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.economique, .familial, .romantique, .animaux {
    border: 1px black solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.petite-ecriture {
    font-size: 10px;
}
.info {
    display: grid;
    grid-template-columns: 10px 300px;
}