.section-hebergement {
    width: 100%;
}
.populaire {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    
}
.section2 {
    background-color: white;
    padding-left: 20px;
    border-radius: 20px;
    width: 28%;
}
.photo {
    display: block;
    float: left;
    width: 218px;
    height: 100px;
    
}
.photo2 {
    display: block;
    float: left;
    width: 100px;
    height: 80px;
    
}
.photo3 {
    width: 155px;
    height: 200px;
}
.alignement {
    width: 95%;
}

