.section-hebergement {
    width: 100%;
    padding-right: 20px;
}
.populaire {
    margin-top: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}
.section2 {
    background-color: white;
    border-radius: 20px;
    width: 30%;
}
.alignement {
    width: 100%;
}
.fa-chart-line {
    padding-right: 0;
}
.a-propos,.nos-hergements,.assistance {
    margin-right: 78px;
}

