.section-hebergement {
    width: 100%;
}
.populaire {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    
}
.section2 {
    background-color: white;
    padding-left: 20px;
    border-radius: 20px;
    width: 28%;
}
.photo {
    display: block;
    float: left;
    width: 180px;
    height: 80px;
    padding: 20px 20px 3px 0px;
}
.photo2 {
    display: block;
    float: left;
    width: 60px;
    height: 80px;
    padding: 20px 20px 3px 0px;
}
.alignement {
    width: 95%;
}

