nav {
    display: flex;
    justify-content: space-around;
}
.logo {
    display: block;
    margin: auto;
    width: 61px;
    height: 29px;
    margin-bottom: 20px;
}
header{
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between; 
}
.filtre-title {
    width: 100%;
}
.bouton_rechercher {
    display: none;
}
.bouton_rechercher2 {
    visibility: visible;
    background-color: #0065FC;
    border-color: #0065FC;
    border-radius: 0px 5px 5px 0px;
    height: 40px;
    margin: 0;
}
.fa-magnifying-glass { 
    color: white;
}
a[href="#hebergements"]:hover {
    padding-top: 0px;
    border-top: none;
    border-bottom: 2px solid;
}
a[href="#activites"]:hover {
    padding-top: 0px;
    border-top: none;
    border-bottom: 2px solid;
}
.filtre-liste {
    display: flex;
    justify-content: space-around;
}
.filtre-item {
    width: 179px;
}
@media screen and (min-width : 600px) {
    .filtre-item {
        width: 200px;
    }
}
.section-hebergement {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}
.section-hebergement-populaire {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-around;
}
.populaire {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.afficher-plus {
    display: none;
}
.section1 {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center
    
}
.section-activites {
    flex-direction: column;
    justify-content: center;
}
.photo3 {
    width: 100%;
    height: 200px;
}
.photo {
    width: 100%;
    height: 150px;
}
footer {
    background-color: rgb(224, 223, 223);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}